.title {
    font-size: 2em;
    font-weight: 600;
    margin: 0;
}

.datetime {
    font-style: italic;
    font-size: 0.8em;
    margin: 0;
}

.text {
    font-size: 1.2em;
    text-align: justify;
}

@media (min-width: 992px) {
    .post {
        width: 70%;
    }
}