.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.signature {
    margin: 1rem;
    padding: 0.25rem;
    padding-right: 1rem;
    border-right: 1px solid #dee2e6;
}

.navItem {
    padding: 1rem;
}