.subtitle {
    margin: 0;
    font-size: 1em;
}

/* These breakpoints are the same as bootstrap's */
@media (min-width: 576px) {
    .subtitle {
        font-size: 1.5em;
    }
}

@media (min-width: 768px) {
    .subtitle {
        font-size: 1.5em;
    }
}