.title {
    margin: 0;
    font-size: 3em;
}

.highlight {
    background-color: #FF0;
}

/* These breakpoints are the same as bootstrap's */
@media (min-width: 576px) {
    .title {
        font-size: 5em;
    }
}

@media (min-width: 768px) {
    .title {
        font-size: 7em;
    }
}