.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.textContainer {
    max-width: 600px;
}

.img {
    max-width: 400px;
}

.header {
    margin: 0;
}

/* These breakpoints are the same as bootstrap's */
@media (min-width: 576px) {
    .imgContainer {
        padding: 1rem;
    }

    .textContainer {
        padding: 1rem;
    }
}