.nav {
    font-size: 1.3em;
    margin: 0;
    cursor: pointer;
}

.selected {
    color: #696969;
    text-decoration: underline;
}

.not-selected {
    color: #b2b2b2;
    transition: color 0.1s;
}

.not-selected:hover {
    color: #696969;
    transition: color 0.1s;
}